<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="javascript:void(0);">Desafio 1</a>

		<div class="dropdown">
			<a class="dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
				style="color: white;"><span th:text="${usuario.nome}"></span></a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="/logout"><i
					class="fa fa-sign-out"></i>&nbsp;Logout</a>
			</div>
		</div>

	</nav>
	<br>
	<br>
	<div class="container-fluid">
		<div id="divLista">
			<div class="spinner-border spinner-border-sm text-primary"
				role="status">
				<span class="sr-only">Loading...</span>
			</div>
			&nbsp;Loading...
		</div>
		<div class="row">
			<div class="col-sm-6">
				<a href="javascript:exibirNovaListaModal();">Nova Lista</a>
			</div>
			<div class="col-sm-6" align="right">
				<button type="button" class="btn btn-danger btn-sm"
					data-toggle="modal" data-target="#resetModal">Reset</button>
			</div>
		</div>


	</div>

	<!-- Modal -->
	<div class="modal fade" id="novaListaModal" tabindex="-1"
		aria-labelledby="novaListaModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title" id="novaListaModalLabel"
						style="color: white;">Nova Lista de Tarefas</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formNovaLista">
						<div class="form-row">
							<div class="col-sm-4">Nome:</div>
							<div class="col-sm-8">
								<input id="novaLista" class="form-control" name="nome">
								<div id="erroNovaLista" class="invalid-feedback">O nome da
									lista não pode ser vazio.</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						onclick="gravarLista();">Salvar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Reset Modal -->
	<div class="modal fade" id="resetModal" tabindex="-1"
		aria-labelledby="resetModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title" id="novaListaModalLabel"
						style="color: white;">Reset</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">Deseja realizar o RESET? Todas as
							listas e tarefas serão removidas.</div>
					</div>
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success" href="/reset">Reset</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Excluir Tarefa Modal -->
	<div class="modal fade" id="excluirTarefaModal" tabindex="-1"
		aria-labelledby="excluirTarefaModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title" id="excluirTarefaModalLabel"
						style="color: white;">Excluir Tarefa</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: white;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="idTarefaExclusao">
					<div class="row">
						<div class="col-sm-12">
							Deseja realizar a exclusão da tarefa?<br>
							<div id="descricaoTarefaExclusao"></div>
							<div id="divErroExcluirTarefa"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success" onclick="excluirTarefa();">Excluir</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Excluir Lista Modal -->
	<div class="modal fade" id="excluirListaModal" tabindex="-1"
		aria-labelledby="excluirListaModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title" id="excluirListaModalLabel"
						style="color: white;">Excluir lista de tarefas</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: white;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="idListaExclusao">
					<div class="row">
						<div class="col-sm-12">
							Deseja realizar a exclusão da lista de tarefas?<br>
							<div id="divNomeListaExclusao"></div>
							<div id="divErroExcluirLista"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success" onclick="excluirLista();">Excluir</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Erro Modal -->
	<div class="modal fade" id="erroModal" tabindex="-1"
		aria-labelledby="erroModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title" id="erroModalLabel" style="color: white;">Erro</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: white;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div id="divMensagemDeErro" style="color: red;"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		consultarListasETarefas();
		$('#novaLista').keypress(function(e) {
			$('#novaLista').removeClass('is-invalid');
			if (e.which == 13) {
				event.preventDefault();
				gravarLista();
			}
		});
	});

	/**
	 * Realiza a adição de uma nova tarefa na lista com o ID indicado.
	 * @param idLista ID da lista onde a tarefa será adicionada.
	 */
	function adicionarTarefa(idLista) {
		var possuiErro = false;
		if (!validarTarefa(idLista))
			possuiErro = true;
		if (!possuiErro) {
			$("#form" + idLista).ajaxSubmit(
					{
						url : "/tarefa/adicionar",
						type : 'post',
						success : function(tarefa) {
							addTarefaNaLista(idLista, tarefa);
							$('#descricao' + idLista).val('');
							$('#descricao' + idLista).focus();
						},
						error : function(error) {
							var response = error.responseJSON;
							console.log(response);
							$('#descricao' + idLista).addClass("is-invalid");
							if (response.descricao) {
								$('#divErroAdicionarTarefa' + idLista).html(
										response.descricao);
							} else {
								$('#divErroAdicionarTarefa' + idLista).html(
										response.mensagem);
							}
							$('#descricao' + idLista).select();
							$('#descricao' + idLista).focus();
						}
					});
		} else {
			$('#descricao' + idLista).select();
			$('#descricao' + idLista).focus();
		}
	}

	/**
	 * Realiza a consulta de listas e tarefas.
	 */
	function consultarListasETarefas() {
		$.ajax({
			url : "/lista/listasDeTarefas",
			success : function(listas) {
				addPainelDeListaDeTarefas(listas);
				$.each(listas, function(index, lista) {
					$.each(lista.tarefas, function(index, tarefa) {
						addTarefaNaLista(lista.id, tarefa);
					});
				});
				$.each(listas, function(index, lista) {
					$('#descricao' + lista.id).keydown(function(e) {
						if (e.which == 13)
							adicionarTarefa(lista.id);
					})
				});
			}
		});
	}

	/**
	 * Realiza a exclusão da tarefa indicada no modal de exclusão de tarefa.
	 */
	function excluirTarefa() {
		var idTarefa = $('#idTarefaExclusao').val();
		$.ajax({
			url : '/tarefa/excluir/' + idTarefa,
			success : function(resultado) {
				$('#excluirTarefaModal').modal('hide');
				$('#tr' + idTarefa).remove();
			},
			error : function(error) {
				var response = error.responseJSON;
				if (response.mensagem) {
					var t = '<span style="color: red;">';
					t += response.mensagem;
					t += '</span>';
					$('#divErroExcluirTarefa').html(t);
				}
			}
		});
	}

	/**
	 * Realiza a exclusão da lista que está no modal de exclusão de lista.
	 */
	function excluirLista() {
		var idLista = $('#idListaExclusao').val();
		$.ajax({
			url : '/lista/excluir/' + idLista,
			success : function(resultado) {
				$('#excluirListaModal').modal('hide');
				consultarListasETarefas();
			},
			error : function(error) {
				var response = error.responseJSON;
				if (response.mensagem) {
					var t = '<span style="color: red;">';
					t += response.mensagem;
					t += '</span>';
					$('#divErroExcluirLista').html(t);
				}
			}
		});
	}

	/**
	 * Realiza a gravação da lista que está preenchida no modal.
	 */
	function gravarLista() {
		var possuiErro = false;
		var novaLista = $('#novaLista').val();
		if (!novaLista || novaLista.trim().length == 0) {
			$('#erroNovaLista').html('O nome da lista não pode ser vazio.');
			possuiErro = true;
		}
		if (novaLista && novaLista.length > 50) {
			$('#erroNovaLista').html(
					'O nome da lista não pode exceder 50 caracteres.');
			possuiErro = true;
		}
		if (!possuiErro) {
			$('#novaLista').removeClass("is-invalid");
			$("#formNovaLista").ajaxSubmit({
				url : "/lista/adicionar",
				type : 'post',
				success : function(lista) {
					$('#novaListaModal').modal('hide');
					$('#novaLista').val('');
					consultarListasETarefas();
				},
				error : function(error) {
					var response = error.responseJSON;
					$('#novaLista').addClass("is-invalid");
					if (response.nome) {
						$('#erroNovaLista').html(response.nome);
					} else {
						$('#erroNovaLista').html(response.mensagem);
					}
					$('#novaLista').select();
					$('#novaLista').focus();
				}
			});
		} else {
			$('#novaLista').addClass("is-invalid");
			$('#novaLista').select();
			$('#novaLista').focus();
		}
	}

	/**
	 * Realiza a validação da tarefa que será inserida.
	 * @param idLista ID da lista onde a tarefa está sendo criada.
	 * @return true/false.
	 */
	function validarTarefa(idLista) {
		var tarefa = $('#descricao' + idLista).val();
		if (tarefa.trim().length == 0) {
			$('#descricao' + idLista).addClass("is-invalid");
			return false;
		} else {
			$('#descricao' + idLista).removeClass("is-invalid");
		}
		return true;
	}
</script>
<script type="text/javascript">
	/**
	 * Realiza a exibição do modal para excluir a lista indicada.
	 * @param idLista ID da lista a ser excluída.
	 */
	function exibirExcluirListaModal(idLista) {
		$
				.ajax({
					url : "/lista/get/" + idLista,
					success : function(lista) {
						if (lista.id && lista.nome) {
							$('#idListaExclusao').val(lista.id);
							$('#divNomeListaExclusao').html(
									'<b>' + lista.nome + '</b>');
							$('#divErroExcluirLista').html('');
							$('#excluirListaModal').modal('show');
						} else {
							exibirErroModal("A lista indicada para exclusão não existe.");
						}
					},
					error : function(error) {
						if (error.responseJSON.mensagem) {
							exibirErroModal(error.responseJSON.mensagem);
						} else {
							exibirErroModal("Não foi possível carregar a lista para exclusão.");
						}
					}
				});
	}

	/**
	 * Realiza a exibição do modal para excluir a tarefa com o ID indicado.
	 * @param idTarefa ID da tarefa.
	 */
	function exibirExcluirTarefaModal(idTarefa) {
		$
				.ajax({
					url : "/tarefa/get/" + idTarefa,
					success : function(tarefa) {
						if (tarefa.id && tarefa.descricao) {
							$('#idTarefaExclusao').val(tarefa.id);
							$('#descricaoTarefaExclusao')
									.html(tarefa.descricao);
							$('#divErroExcluirTarefa').html('');
							$('#excluirTarefaModal').modal('show');
						} else {
							exibirErroModal("A tarefa indicada não existe.");
						}
					},
					error : function(error) {
						if (error.responseJSON.mensagem) {
							exibirErroModal(error.responseJSON.mensagem);
						} else {
							exibirErroModal("Não foi possível carregar a tarefa para exclusão.");
						}
					}
				});
	}

	/**
	 * Realiza a exibição do modal para criar uma nova lista.
	 */
	function exibirNovaListaModal() {
		$('#novaLista').removeClass("is-invalid");
		$('#novaLista').val('');
		$('#novaListaModal').modal('show');
		setTimeout(function() {
			$('#novaLista').focus();
		}, 500);
	}

	/**
	 * Realiza a exibição do modal com a mensagem de erro indicada.
	 * @param mensagemDeErro Mensagem de erro que será exibida.
	 */
	function exibirErroModal(mensagemDeErro) {
		$('#divMensagemDeErro').html(mensagemDeErro);
		$('#erroModal').modal('show');
	}
</script>
<script type="text/javascript">
	/**
	 * Adiciona a tarefa na tabela correspondente a lista indicada (Montagem do HTML).
	 * @param idLista ID da lista onde a tarefa será inserida.
	 * @param tarefa Tarefa que será adicionada.
	 */
	function addTarefaNaLista(idLista, tarefa) {
		var tr = '<tr id="tr'+tarefa.id+'">';
		tr += '<td>' + tarefa.descricao + '</td>';
		tr += '<td align="right"><button type="button" class="btn btn-sm btn-danger" onclick="exibirExcluirTarefaModal('
				+ tarefa.id + ');"><i class="fa fa-trash"></i></button></td>';
		tr += '</tr>';
		$('#tabela' + idLista + ' tr:last').before(tr);
	}

	/**
	 * Adiciona as listas de tarefas indicadas em um painel cada (Montagem do HTML).
	 * @param listas Lista de listas de tarefas.
	 */
	function addPainelDeListaDeTarefas(listas) {
		var t = "";
		$
				.each(
						listas,
						function(index, lista) {
							t += '<div class="row">';
							t += '<div class="col-10"><h5>' + lista.nome
									+ '</h5></div>';
							t += '<div class="col-2" align="right"><a href="javascript:exibirExcluirListaModal('
									+ lista.id + ');">Excluir Lista</a></div>';
							t += '</div>';
							t += '<div class="row"><div class="col-12">';
							t += '<table id="tabela'+lista.id+'" class="table table-bordered table-striped">';
							t += '<tr><td><form id="form'+lista.id+'" onsubmit="return false;">';
							t += '<div class="form-row">';
							t += '<input id="descricao'+lista.id+'" class="form-control" name="descricao" placeholder="Nova tarefa" maxlenght="200" autocomplete="off"><input type="hidden" name="idLista" value="'+lista.id+'">';
							t += '<div id="divErroAdicionarTarefa'+lista.id+'" class="invalid-feedback">A descrição da tarefa não pode ser vazia.</div>';
							t += '</div></form></td>';
							t += '<td width="40px">';
							t += '<button type="button" class="btn btn-success btn-sm" onclick="adicionarTarefa('
									+ lista.id + ');">Adicionar</button>';
							t += '</td></tr></table>';
							t += '</div></div>';
						});
		$('#divLista').html(t);
	}
</script>
</html>